parameters:
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition#'
    - '#expects class-string.+?, string given#'
    - '#Dead catch - Error is never thrown in the try block.#'
