services:

  unleash.client.internal.original_context:
    class: Unleash\Client\Configuration\UnleashContext

  unleash.client.internal.context_provider:
    class: Unleash\Client\Bundle\Context\SymfonyContextProvider
    arguments:
      - '@unleash.client.context'

  unleash.client.context:
    class: Unleash\Client\Bundle\Context\SymfonyUnleashContext
    arguments:
      - '@?security.token_storage'
      - '%unleash.client.internal.user_id_field%'
      - '%unleash.client.internal.custom_properties%'
      - '@?request_stack'
      - '@?unleash.client.internal.expression_language'
      - '@?event_dispatcher'
      - '%kernel.environment%'

  unleash.client.stickiness.murmur:
    class: Unleash\Client\Stickiness\MurmurHashCalculator

  unleash.client.strategy_handler.default:
    class: Unleash\Client\Strategy\DefaultStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler

  unleash.client.strategy_handler.flexible_rollout:
    class: Unleash\Client\Strategy\GradualRolloutStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler
    arguments:
      - '@unleash.client.stickiness.murmur'

  unleash.client.strategy_handler.gradual_random:
    class: Unleash\Client\Strategy\GradualRolloutRandomStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler
    arguments:
      - '@unleash.client.strategy_handler.flexible_rollout'

  unleash.client.strategy_handler.gradual_session_id:
    class: Unleash\Client\Strategy\GradualRolloutSessionIdStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler
    arguments:
      - '@unleash.client.strategy_handler.flexible_rollout'

  unleash.client.strategy_handler.gradual_user_id:
    class: Unleash\Client\Strategy\GradualRolloutUserIdStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler
    arguments:
      - '@unleash.client.strategy_handler.flexible_rollout'

  unleash.client.strategy_handler.ip_address:
    class: Unleash\Client\Strategy\IpAddressStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler

  unleash.client.strategy_handler.user_id:
    class: Unleash\Client\Strategy\UserIdStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler

  unleash.client.strategy_handler.application_hostname:
    class: Unleash\Client\Strategy\ApplicationHostnameStrategyHandler
    tags:
      - unleash.client.strategy_handler
      - unleash.client.built_in_strategy_handler

  unleash.client.configuration:
    class: Unleash\Client\Configuration\UnleashConfiguration
    arguments:
      - '%unleash.client.internal.app_url%'
      - '%unleash.client.internal.app_name%'
      - '%unleash.client.internal.instance_id%'
      - '@unleash.client.internal.cache'
      - '%unleash.client.internal.cache_ttl%'
      - '%unleash.client.internal.metrics_send_interval%'
      - '%unleash.client.internal.metrics_enabled%'
      - '%unleash.client.internal.custom_headers%'
      - '%unleash.client.internal.auto_registration%'
      - null
      - '@unleash.client.internal.context_provider'
      - null
      - '@?unleash.client.internal.bootstrap_service'
      - '%unleash.client.internal.fetching_enabled%'
      - '@?event_dispatcher'

  unleash.client.repository:
    class: Unleash\Client\Repository\DefaultUnleashRepository
    arguments:
      - '@unleash.client.internal.http_client'
      - '@unleash.client.internal.request_factory'
      - '@unleash.client.configuration'

  unleash.client.registration_service:
    class: Unleash\Client\Client\DefaultRegistrationService
    arguments:
      - '@unleash.client.internal.http_client'
      - '@unleash.client.internal.request_factory'
      - '@unleash.client.configuration'
      - 'unleash-client-symfony'
      - '0.9.7'

  unleash.client.metrics_sender:
    class: Unleash\Client\Metrics\DefaultMetricsSender
    arguments:
      - '@unleash.client.internal.http_client'
      - '@unleash.client.internal.request_factory'
      - '@unleash.client.configuration'

  unleash.client.metrics_handler:
    class: Unleash\Client\Metrics\DefaultMetricsHandler
    arguments:
      - '@unleash.client.metrics_sender'
      - '@unleash.client.configuration'

  unleash.client.variant_handler:
    class: Unleash\Client\Variant\DefaultVariantHandler
    arguments:
      - '@unleash.client.stickiness.murmur'

  unleash.client.unleash:
    class: Unleash\Client\Bundle\Unleash\UnleashDecorator
    arguments:
      - '%unleash.client.internal.disabled_strategies%'
      - !tagged_iterator unleash.client.strategy_handler
      - '@unleash.client.repository'
      - '@unleash.client.registration_service'
      - '@unleash.client.configuration'
      - '@unleash.client.metrics_handler'
      - '@unleash.client.variant_handler'

  unleash.client.is_enabled_attribute_listener:
    class: Unleash\Client\Bundle\Listener\ControllerAttributeResolver
    arguments:
      - '@unleash.client.unleash'
      - '@event_dispatcher'
    tags:
      - kernel.event_subscriber
